

services:
  n8n:
    build:
      context: ./docker
    container_name: n8n-secure-lab
    restart: always
    ports:
      - "5678:5678"

    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=(coloque aqui seu username seguro)
      - N8N_BASIC_AUTH_PASSWORD=(coloque aqui seu password seguro)

      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http

      - NODE_ENV=production

    volumes:
      - n8n_data:/home/node/.n8n

volumes:
  n8n_data:
